//variables de color con MAP
$colores:(
color-video:black,
color-letra1:#97671f,
color-letra2:#004643,
color-texto1:#bced8a,
color-texto2:rgb(235, 142, 75),
color-principal1:white,
color-footer:#7f5af0,
);
